body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}
h1 {
  color: grey;
}
.card {
  margin: auto;
  background-color: white;
  max-width: fit-content;
  padding: 2rem;
  border-radius: 1.34rem;
}
.input {
  max-width: fit-content;
  margin: auto;
}
.slider {
    width: 60%;
}
.percent {
  font-size: 12px;
    max-width: fit-content;
}
.hightLight {
  background-color: yellow;
}
.row {
  display: flex;
}
.footer{
  margin-top: 1rem;
}
/* Create two equal columns that sits next to each other */
.col {
  flex: 50%;
  min-width: 50%;
  padding: 4px;
}
.submit-button {
  width: 80%;
}
